name: Merge to develop

on:
  workflow_dispatch:
  pull_request:
    branches: [develop]
    types:
      - closed

jobs:
  build-and-push-to-gcr:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: RafikFarhad/push-to-gcr-github-action@v4.1
        with:
          gcloud_service_key: ${{ secrets.DEV_GCLOUD_SERVICE_KEY }} # can be base64 encoded or plain text
          registry: gcr.io
          project_id: message-relay-dev
          image_name: message-relay
          image_tag: latest
          dockerfile: Dockerfile
          context: .

  cloud-run-deploy:
    if: github.event.pull_request.merged == true
    needs: build-and-push-to-gcr
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - id: 'auth'
        uses: 'google-github-actions/auth@v0'
        with:
          workload_identity_provider: ${{ secrets.DEV_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.DEV_SERVICE_ACCOUNT }}

      - id: 'deploy'
        uses: 'google-github-actions/deploy-cloudrun@v0'
        with:
          service: 'message-relay-backend'
          image: 'gcr.io/message-relay-dev/message-relay'

      - name: 'Use output'
        run: 'curl "${{ steps.deploy.outputs.url }}"'
